body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
    background: #f3f5fc;
}

/*HEADER*/

header{
    height: 50px;
    width: auto;
    padding: 10px;
}


/*MAIN*/

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10 px;
    height: 700px;
    width: auto;
    padding: 10px;
}

/*input*/

.input{
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 50%;
    padding: 0px 10px 20px 100px;
}

/*cuadro de texto*/

.text-area{
    border: none;
    color: #0a3871;
    background-color: #f3f5fc;
    margin-top: 90px;
    width: 100%;
    height: 80%;
    text-transform: lowercase;

}

::placeholder{color: #0a3871;}
    .text-area:focus{
        outline:none;
    }

/*Condiciones*/

.informacion{
    display: flex;
    color: #495057;
    font-size: 18px;
}

/*botones*/

.botones{
    display: flex;
    justify-content: left;
    gap: 70px;
    margin-top: 18px;
}

/*boton encriptar*/

.encriptar{
    background-color: #0a3871;
    border: 1px solid #0a3871;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    color: white;
    font-weight: 400;
    size: 16px;
    height: 19.36;
    text-align: center;
    cursor: pointer;
    
}

.encriptar:hover{
    transform:scale(1.03);
}

/*boton desencriptar*/
.desencriptar{
    background-color: #d8dfe8;
    border-radius: 24px;
    border: 1px solid #0a3871;
    width: 328px;
    height: 67px;
    color: #0a3871;
    font-weight: 400;
    size: 16px;
    height: 19.36;
    text-align: center;
    cursor: pointer;
    margin-left: 30px;
}

.desencriptar:hover{
    transform:scale(1.03);
}

/*output*/

.output{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background: white;
    height: 640px;
    width: 400px;
    padding: 30px;
    border-radius: 24px;
}

/*mensaje ingrese texto*/

.mensaje{
    background: white;
    background-image: url(Imagenes/Muñeco.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    padding-left: 20px;
    position: relative;
    width: 100%;
    height: 90%;
    margin: 0, 20px, 0, 0;
}    

.mensaje:focus{
    outline: none;
}

.mensaje-temporal{
    position: absolute;
    box-sizing: border-box;
    top: 70%;
}

.primer-mesaje{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343A40;
}

.segundo-mensaje{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}

.ocultar{
    display: none;
}

/*boton copiar*/

.btn-copiar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.copiar{
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    position: absolute;
    width: 200px;
    height: 67px;
    text-align: center;
    bottom: 0;
    margin: 10px 10px;
}

.copiar:hover{
    transform:scale(1.03);
}

/*FOOTER*/

footer{
    height: 150px;
    width: auto;
    padding: 5px;
}

/*texto*/

.nombre{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #495057;
}

/*logos*/

.logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#logo-discord{
    width: 50px;
    height: 50px;
}

#logo-linkedin{
    width: 50px;
    height: 50px;
}

#logo-github{
    width: 45px;
    height: 45px;
}

@media (max-width: 769px){
    .text-area{
        margin-top: 0px;    
    }

    .botones{
        justify-content: center;
        gap: 0px;
    }

    .input{
        height: 400px;
        width: 90%;
        padding: 0px 0px 20px 0px;
    }

    .output{
        height: 440px;
        width: 80%;
    }

    .mensaje{
        background-position: top;
        height: 85%;
    }  

    .mensaje-temporal{
        top: 60%;
    }
}
